__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/
*.log

# PyInstaller
dist/
build/
*.spec

# Inno Setup output
installer_output/

# MkDocs
site/

# VS Code extension build
vscode-luz/node_modules/
vscode-luz/out/
